body{

    background-color:#E9e9e9;
    font-family: 'Open Sans', sans-serif;
    color: #696969;

    .howToContainer{

        .widthHeight(100%, 100%);
        background-color: #fff;

        .howToFlex{

            .flexBoxCentered(row nowrap ,none, none);
            margin: 0% 5% 0% 5%;
            padding: 5%;

            @media screen and(max-width:900px){
                
                .flexBoxCentered(column nowrap,center, center);
                width: 100%;
                margin-left: 2.5%;

            }

            @media screen and(max-width:600px){
                flex-flow:column nowrap;
                width: 100%;
            }


            .leftColumn{

                .flexBoxCentered(row wrap,space-around, center);
                .widthHeight(25%, 850px);
                margin-right: 5%;

                @media screen and(max-width:900px){
                    .widthHeight(85%, 100%);
                    margin-right: 0%;
                }

                @media screen and(max-width:600px){
                    margin: 0 auto;
                    .widthHeight(75%, 100%);
                }

                img{

                    .widthHeight(80%, 25%);
                    margin-top: 5%;
                    border-radius: 25px;

                    @media screen and(max-width:900px){
                        width:100%;
                    }

                    @media screen and(max-width:600px){
                        width:75%;
                    }

                }
                button{

                    margin: 2% 0% 2% 0%;
                    .widthHeight(75%, 7%);
                    font-size: 1.5rem;
                    border-radius: 5px;
                    font-weight: bold;
                    color: white;
                    background-color:#0090c5; 
                    padding: 2.5%;
                    border: none;

                    @media screen and(max-width:900px){
                        margin: 7% 0% 7% 0%;
                        width: 100%;
                    }

                    @media screen and(max-width:600px){
                        margin-left: 0%;
                        display: none;
                    }

                }

                .centerText{
                    text-align: center;

                    @media screen and(max-width:900px){
                        display: none;
                        margin-right: 0%;
                    }
                    
                    .howToPictures{

                        .flexBoxCentered(row wrap,center,center);

                            @media screen and(max-width:600px){
                                display: none;
                            }

                            a{

                                width: 49%;
                                img{
                                    .widthHeight(90%, 16em);
                                    @media screen and(max-width:1200px){
                                        height: 12em;
                                    }
                                }
                            }
                        }   

                    h2{
                        color:#444;
                        margin-top: 2%;
                        margin-bottom: 7.5%;
                    }

                    a{
                        color:#0090c5;
                        text-decoration: underline;
                        line-height: 2rem;
                        font-size: 1rem;
                    }
                }
            }

            .rightColumn{

                .flexBoxCentered(column wrap,none,none);
                width: 60%;
                margin-top: 1.5%;
                
                @media screen and(max-width:900px){
                    width: 95%;
                }
                
                h1{
                    margin-bottom: 2%;
                    color:#444;

                    @media screen and(max-width:900px){
                        text-align: center;
                        font-size: 3.75rem;
                        margin-top: 5%;
                    }

                    @media screen and(max-width:600px){
                        text-align: center;
                        font-size: 3rem;
                        margin-top: 5%;
                    }

                }
            
                p{

                    padding: 1%;
                    font-size: 2rem;
                    line-height: 4rem;
                    margin: .5% 0 0% 0%;

                    @media screen and(max-width:600px){
                        font-size: 1.6rem;
                    }

                    .boldFont{
                        font-weight:bold;
                    }
                }

                h2{

                    margin-top: 2%;
                    @media screen and(max-width:900px){
                        text-align: center;
                    }
                    
                }
            
                .ingredientsNeeded{

                    .flexBoxCentered(row nowrap,space-evenly,none);
                    width: 100%;
                    
                    @media screen and(max-width:600px){
                        border-bottom: solid 1px lightgray;
                    }

                    button{
                        
                        background: white;
                        text-decoration: none;
                        border: none;

                        h2{

                            text-align: center;
                            color:#444;
                            margin: 4% 0% 2% 0%;
                            font-size: 2.5rem;
                            @media screen and(max-width:600px){
                                text-align: center;
                                font-size: 2.5rem;
                            }
                        }
                    }  
                }
            }
        }
    }
}