.nav-bar {
    background: @greyish;   
    height: 15em;
    border-bottom: .3em solid @gray;
    display: flex;
    @media @phone {       
        width: 100%        
      }    
    
    .nav-container {
        .justifyAlign(center, center);       
        padding: 50px 0 0 50px;

        @media @phone {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            width: 100%;
            
          }
          

        .logo {
            color: white;
            background-color: #ff4486;
            border-radius: 6px;
            font-weight: 400;
            font-family: 'Oleo Script', serif;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: 0.25em 0.2em 0.25em 0.2em;

            @media @phone {
               align-items: center;
               display: flex;
               cursor: pointer;
               
              }
                
              }
        }
        
        nav {
            .justifyAlign(center, center);
            width: 50%;
            // min-width: 1200px;            
            transition: .25s;
            font-weight: 800;
            letter-spacing: 0.025em;
            color: #696969;
            text-decoration: none;
            border-radius: 6px;
            padding: 0.5em 1em 0.5em 1em;
            @media @phone {               
                width: 100%;
                margin-top: 15px;
                margin-bottom: 30px;
                
              }

            
                
              }

            nav:hover {
                background-color: white;
            }
            
            a {
                text-decoration: none;
                color: #b7c3c7;
                font-size: 2.5rem;
                width: 200px;
                text-align: center;

                @media @phone {
                    font-size: 2rem;
                    width: 100%;
                    }
            }
        }       
            
    

      
    



