body {

    footer {
        width: 100%;
        background-color: white;
        margin-top: 20px;
        
        .bottom-content {
            width: 100%;
            display: flex;
            padding: 20px 0 50px 0;

            .other {
                display: flex;
                flex-direction: column;
                margin: 10px;
                margin: 0 auto;

                @media @tablet {
                    display: none;
                }

                h2 {
                    font-family: "Source Sans Pro", Arial;
                    font-weight: 800;
                    color: #444;
                }

                a {
                    font-size: 2rem;
                    margin: 5px 0;
                }
            }

            .member {
                display: flex;
                flex-flow: column;
                @media @phone {
                    display: none;
                }
            }

            .contact {
                margin: 0 20px;
                display: flex;
                flex-flow: column;
                @media @phone {
                    flex-flow: row;
                }


                .img-icon {
                    

                    h2 {
                        font-family: "Source Sans Pro", Arial;
                        font-weight: 800;
                        color: #444;
                    }

                    img {
                        height: 50px;
                        width: 50px;
                        background-color: black;
                        border-radius: 10px;
                    }
                }
        
                p {
                    font-size: 1.6rem;
                    line-height: 2.25;
                    color: #696969;
                    @media @phone {
                        margin-left: 10px;
                    }
                }
            }
        } 
        #copy {
            text-align: center;
            font-size: 2rem;
            color: #696969;
            padding-bottom: 10px;
        }   
    }
}