.home {

    footer {
        background-color: lavenderblush;
        margin-top: 20px;

        .bottom-content {
            margin: 0 20px;
        }

        h4 {
            font-family: cursive;
        }

        address {
            font-size: 1.6rem;
            
        }
    }
}