.home {

    .top-main {
        background-color: lavenderblush;
        margin: 30px 0;
        border-radius: 10px;

        .top-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 auto;

            p {
                width: 36%;
                margin: 20px 0;
                font-size: 2rem;

                span {
                    font-size: 3rem;
                    font-family: cursive;
                }
            }

            button {
                font-size: 3rem;
                padding: 25px 40px;
                height: 0%;
                border-radius: 10px;
                background-color: #0090c5;
                color: white;
                cursor: pointer;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .top-mid {
        width: 100%;
        margin-bottom: 30px;
        background-color: lavenderblush;
        border-radius: 10px;

        
        img {
            width: 30%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    .mid-content {
        display: flex;
        margin: 0 auto;
        

        .trending {
            margin: 0 15px;
            background-color: lavenderblush;
            // margin-bottom: 100px;
            border-radius: 10px;
            
            img {
            width: 200px;
            height: 133px;
            .image-style();
            }

            h3 {
                margin: auto;
                width: 80%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p {
                font-size: 2rem;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
    }
}